# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

List popular languages for Data Science

* Python 
* Julia 
* R studio
* SQL

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R studio
    3. java 
    4. SQL
    5. Scala

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas 
    2. Numpy
    3. Matplotlib
    4. Sklearn
    5. Tensorflow

|Data Science Tools|
|------------------|
|R Studio|
|Jupyter notebook|
|spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Shani Kol